<footer>
    <nav>
        <a href="/contact">Contact Us</a>
        <a href="/privacy-policy">Privacy</a>
        <a href="/disclaimer">Disclaimer</a>
    </nav>
    <div>&#169; Instafish 2021-2022. All Rights Reserved.</div>
</footer>
<script>
    const path = window.location.pathname
    const date = new Date().toLocaleString()
    let url = 'https://www.cloudflare.com/cdn-cgi/trace'


    fetch(url).then(res => res.text()).then(data => {
        let ip = data.match(/ip=([^\n]+)/i)[1]
        let device = data.match(/uag=.*?\(([^)]+)/i)[1]

        fetch('/logs', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                path,
                date,
                device,
                ip
            })
        }).then(data => data.json()).then(res => res)
    })


</script>
