<nav id="main_menu">
  <a href="/" class="">Home</a>
  <a href="/insta-highlights" class="">Highlights</a>
  <a href="/insta-reels" class="">Reels</a>
  <a href="/insta-video" class="">Video</a>
  <a href="/insta-igtv" class="">IGTV</a>
  <input id="more" type="checkbox" hidden />
  <label style="padding-top: 20px" for="more"
    >More <i class="fa fa-caret-down"></i
  ></label>

  <div class="dropdown-menu">
    <a href="/insta-image" class="">Instagram Images</a>
    <a href="/insta-dp" class="">Instagram DP</a>
    <a href="/youtube-thumbnail" class="">Youtube Thumbnail</a>
    <a href="/youtube-tags-finder" class="">Youtube Tags Fetcher</a>
    <a href="/twitter-video" class="">Twitter Video</a>
  </div>
</nav>
