<div class="shortcut">
  <div title="video">
    <a href="/insta-video"
      ><i
        class="fa fa-video {% if request.path == '/insta-video' %}active_shortcut{% endif %}"
      ></i>
    </a>
    <div>Video</div>
  </div>
  <div title="reel">
    <a href="/insta-reels"
      ><i
        class="fa fa-film {% if request.path == '/insta-reels' %}active_shortcut{% endif %}"
      ></i
    ></a>
    <div>Reels</div>
  </div>
  <div title="images">
    <a href="/insta-image"
      ><i
        class="fa fa-image {% if request.path == '/insta-image' %}active_shortcut{% endif %}"
      ></i
    ></a>
    <div>Images</div>
  </div>
  <div title="dp">
    <a href="/insta-dp"
      ><i
        class="fa fa-user-circle {% if request.path == '/insta-dp' %}active_shortcut{% endif %}"
      ></i
    ></a>
    <div>DP</div>
  </div>
  <div title="igtv">
    <a href="/insta-igtv"
      ><i
        class="fa fa-tv {% if request.path == '/insta-igtv' %}active_shortcut{% endif %}"
      ></i
    ></a>
    <div>IGTV</div>
  </div>
  <div title="story">
    <a href="/"
      ><i
        class="fa fa-stopwatch {% if request.path == '/' %}active_shortcut{% endif %}"
      ></i
    ></a>
    <div>Story</div>
  </div>
  <div title="highlights">
    <a href="/insta-highlights"
      ><i
        class="fa fa-history {% if request.path == '/insta-highlights' %}active_shortcut{% endif %}"
      ></i
    ></a>
    <div>Highlights</div>
  </div>
</div>
